*.ps
*.pdf
*.pyc
*~
data/**
gp/**
Output/**
Results/**
*.dat
!input.dat
Benchmarking.py
chain_wd.txt
fudgeChains.py
gfit.in
model.txt
mp_test.py
pickle.dump
python_out.txt
testBug.py
ASASSN14ag_GPs/**
ASASSN14ag_noGPs/**
ASASSN14ag_noGPs_new/**
CSS080623/**
CSS110113/**
CSS110513/**
Chain.txt
GP/**
SSS100615/**
afterfit.txt
bestFit.txt
bestfit_2.txt
chain.txt
chain2.txt
chain3.txt
chain_prod.txt
chain_prod2.txt
chain_prod_2.txt
lfit_modparams.txt
modparams_2.txt
modparams_3eclfit.txt
params.txt
physicalparams.log
scatter_test/**