*.ps
*.pdf
*.pyc
*~
data/**
gp/**
Results/**
Chains/**
*.dat
!input.dat
Benchmarking.py
chain_wd.txt
fudgeChains.py
gfit.in
model.txt
mp_test.py
pickle.dump
python_out.txt
testBug.py
chain_prod.txt
modparams.txt
physicalparams.log
chain_flat.txt
data_old**
old_wdinput
fit_sinePlusGP.py
modparams.txt
calc_weighted.py
eclipseplotter_old.py
gaussian.py
gaussian.log
weighted_input_asassn14ag_av.txt
weighted_input_asassn14ag_ind.txt
weighted_input_phl1445_flick.txt
weighted_sdss1507.txt
mcmcfit_shared_edit.py
mcmcfit_shared_flick.py
